<div id="map-container">
<%if logged_in?%>
  <div id="right-panel">
    <div id="placeholder" >
      <h1 class="center jumbotron">Welcome to EasyToPark</h2>
      <h1><small>Click on parkings to view latest updates!</small></h1>
      <p align="left">Your details are:<br>
          <ul align="left">
            <li>Name: <%=current_user.name%></li>
            <li>Email: <%=current_user.email%></li>
            <li>Car Number: <%=current_user.car_number%></li>
            <li>Mobile Number: <%=current_user.mobile%></li>
          </ul>
      </p>
    </div>
  </div>
<div id="map"></div>
<script></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6UmP5y2ulrLl7wgkjMi9A-WyeYyPbJBs&callback=initMap"
      async defer></script>
</div>
<%else%>
<% provide(:title, "Home") %>
<% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div class="center jumbotron front">
<h1>Welcome to EasyToPark</h1>
<i class="fa fa-car fa-5x"></i>
<p>
  An efficient parking system for Nagpur!
</p>
<%#= link_to "Sign up now", signup_path,class: "btn btn-lg btn-primary"%>
</div>

  <div class=" front1" >
    <div class="col-lg-3">
      <center>
      <i class="fa fa-heart fa-3x"></i>
      <h4>Simple & easy</h4>
    </center>
    </div>

    <div class="col-lg-3">
    <center>
      <i class="fa fa-rupee fa-3x"></i>
      <h4>Check out parking status and rates from anywhere</h4>
      </center>
    </div>

    <div class="col-lg-3">
      <center>
      <i class="fa fa-thumbs-up fa-3x"></i>
      <h4>Pre-book your slot</h4>
    </center>
    </div>

    <div class="col-lg-3">
      <center>
        <i class="fa fa-shopping-bag fa-3x"></i>
      <h4>Get discounts, offers<br>and<br>many more</h4>
    </center>
    </div>
  </div>
<%end%>
