<% provide(:title, @user.name) %>
<div class="container">
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<p class="lead">Please show this QR code at check-in and check-out</p>

<div class="row">
  <%= image_tag @user.qrcode.thumb('200x200').url %>
</div>
<%= link_to "Show photo", @user.qrcode.thumb('200x200').url , :data => { :colorbox => true, :colorbox_height => '300px', :colorbox_width => '300px', :colorbox_photo => true },class: 'btn btn-primary' %>
<%= link_to 'Edit', edit_user_path(@user),class: 'btn btn-success' %>
<%= link_to 'Back', users_path,class: 'btn btn-success btn-md' %>
</div>