<%if logged_in?%>
<div id="wrapper">
      <div id="content">
          <div id="map"></div>
      </div>
  </div>
    <script>

var map;
function initMap() {
  var bounds = new google.maps.LatLngBounds();
  var DelhiCenter = {lat: 28.6100, lng: 77.2300};
//  var coordinates= [{lat:28.6629,lng:77.2100},{lat:28.5472, lng:77.2508},{lat:28.6328, lng:77.2197},{lat:28.5789, lng:77.2439},{lat:28.5769, lng:77.1961},{lat:28.5290, lng:77.2191}];
//  var info=["Karol Bagh","Nehru Place", "Connaught Place", "Lajpat Nagar", "Sarojni Nagar", "Select City Walk"];
    //1. Karol Bagh 1.Nehru place 2.Connaught Place 3.Lajpat Nagar 4.Sarojni Nagar 5.Select City Walk
  map = new google.maps.Map(document.getElementById('map'), {
    center: DelhiCenter,
    zoom: 12
  });


  var marker = new google.maps.Marker({
      position: DelhiCenter,
      map: map,
      title: 'Hello World!'
    });
      setMarkers(map);
       bounds.extend(marker.position);
       map.fitBounds(bounds);
       var listener = google.maps.event.addListener(map, "idle", function () {
         map.setZoom(12);
    google.maps.event.removeListener(listener);
    });

  //var contentString = //Hit a url here to get data!;

}

function setMarkers(map){

      var marker, i
<% @parkings.each do |parking| %>
 var coordinates = {lat:<%=parking.lat%> , lng: <%=parking.lng%>};
 var info ='<%=parking.name%>';
 contentString=
'<center><h3 id="firstHeading" class="firstHeading"><%=parking.name%></h3></center>'+
'<div id="bodyContent">'+
'<p> Total Capacity: <%=parking.total_capacity%></p>'+
'<p> Filled: <%=parking.filled%></p>'+
'<p> Current Rate(per hour): 100</p>'+
'</div>'+
'<%= button_to "Show Complete Status", parking_path(parking), :class => "btn btn-primary center-block", :method => :get  %>';



  var marker = new google.maps.Marker({
          map: map, title: info , position: coordinates
        });
        map.setCenter(marker.getPosition())


        var infowindow = new google.maps.InfoWindow()

        google.maps.event.addListener(marker,'click', (function(marker,contentString,infowindow){
        return function() {
           infowindow.setContent(contentString);
           infowindow.open(map,marker);
        };
    })(marker,contentString,infowindow));



/*
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
*/
  <% end %>
}




    </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6UmP5y2ulrLl7wgkjMi9A-WyeYyPbJBs&callback=initMap"
        async defer></script>

<%else%>

<% redirect_to root_url %>

<%end%>
