
  <tr>
    <td><%=transaction.id%></td>
    <td><%=transaction.date%></td>
    <td><%=transaction.in.strftime("%I:%M%p")%></td>
    <td><%=transaction.out.strftime("%I:%M%p")%></td>
    <td><%=transaction.payment%></td>
    <% if transaction.payment_type %>
    <td>Cash</td>
    <%else%>
    <td>Online</td>
    <%end%>
    <%name=Parking.find_by(id:transaction.parking_id).name%>
    <td><%=name%></td>
  </tr>
