
<tr>
    <td><%=transaction.id%></td>
    <td><%=transaction.date%></td>
    <td><%=transaction.in.strftime("%I:%M%p")%></td>
    <td><%=transaction.out.strftime("%I:%M%p")%></td>
    <td><%=transaction.payment%></td>
    <% if transaction.payment_type %>
    <td>Cash</td>
    <%else%>
    <td>Cash</td>
    <%end%>
    <%#= raise Parking.find_by(id:transaction.parking_id).name.inspect%>
    <%# parking = Parking.find_by(id:transaction.parking_id) %>
    <%#= raise parking.name.inspect%>
    <td><%#= parking.name %></td>
  </tr>
